/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(20, 54, 1, 1);
}

/* Navbar styles */
.header {
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  height: 15vh;
}

.navbar {
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  height: 15vh;
  display: flex;
}

.menu {
  float: right;
}

.nav-link {
  list-style-type: none;
  color: #143601;
  font-family: Poppins;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.06875rem;
  float: right;
  text-align: right;
  padding: 14px 16px;
 
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.logo {
  float: left;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}

/*Tipografia y color de textos*/
.datos {
  color: rgba(20, 54, 1, 1);
  font-family: Poppins;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.06875rem;
  list-style: none;
}

/*Fotos cv*/
.fotocv {
  border-radius: 8px;
  width: 250px;
  height: 250px;
}
